:root {
  --bg: #0D0D0D;
  --bg2: #2E2E2E;
  --hdr: #1A1A1A;
  --accent: #00ffe7;
  --text: #B0B0B0;
  --maintext: #EAEAEA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

.animate-upDown {
  animation: upDown 2s ease-in-out infinite;
}
@keyframes upDown {
  0%, 100%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
}

.animate-L2R{
  animation: L2R 2s ease-in-out infinite;
}
@keyframes L2R {
  0% {transform: translateX(0);}
  25% {transform: translateX(15px); opacity: 0%;}
  50% {transform: translateX(-30px); opacity: 0%;}
  100% {transform: translateX(0px); opacity: 100%;}
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');