<div class="about-photo-cont">
    <div class="about-box one">
        <img src="" alt="">
    </div>
    <div class="about-box two">
        
    </div>
</div>
<div class="about-panel-cont">
    <span class="about-hi">// About Me</span>
    <h1 class="about-logo">
        Innovative Builder.
        <br>
        <span>Curious Thinker.</span>
    </h1>
    <p class="about-intro">
        I'm a fourth-year BS Computer Science student at Cavite State University - Silang Campus with interests in software engineering, backend development, and emerging technologies. I enjoy building projects that range from web applications and game systems to embedded hardware solutions, constantly challenging myself to learn and grow.
        <br>
        Beyond academics, my experience as a ROTC Corps Officer strengthened my leadership, discipline, and teamwork skills. I believe the best way to learn is by building, and I'm seeking opportunities to contribute, gain real-world experience, and continue developing as a software engineer.
    </p>
    <div class="about-profile-sum">
        <div class="about-profsum-1">
            <ul>
                <li>LOCATION</li>
                <li>EMAIL</li>
                <li>PHONE</li>
                <li>GITHUB</li>
                <li>LINKEDIN</li>
            </ul>
        </div>
        <div class="about-profsum-2">
            <ul>
                <li>Dasmarinas City, Cavite, PH</li>
                <li>eldrich.espino3e@gmail.com</li>
                <li>+63 966-880-0898</li>
                <li><a href="https://github.com/Irrati0nalTh0ughts">Irrati0nalTh0ughts</a></li>
                <li><a href="https://l1nk.dev/b2oag7d">Eldrich Evander Espino</a></li>
            </ul>
        </div>
    </div>
</div>